@import url('style.css');

/* configurações padrões */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body{
    height: 100%;
}

/* variaveis */

/* :root{
    --cor1: #333333;
    --cor2: #1F203A;
    --cor3: #ffa800;
    --cor4: #D98F00;
    --cor5: #E5E5E5;
    --cor6: #787878;
}  */


:root{
    --cor1: #151515;
    --cor2: #1F203A;
    --cor3: #787878;
    --cor4: #00768c;
    --cor5: #00ACCC;
    --cor6: #EBEBEB;
}

ul{
    list-style-type: none;
}

h1{
    font-size: clamp(0.7em, 1.8em + 2vw, 4em);
}

h2{
    color: var(--cor5);
    font-size: clamp(0.3em, 1.4em + 1.5vw, 2.8em);
    padding-bottom: 40px;
}

h3{
    font-size: clamp(0.4em, 1.5em + 1.5vw, 3em);
    padding-bottom: 20px;
}

h1, h2, h3{
    font-family: 'Gantari', sans-serif;
}

h1, h2, h3, a{
    white-space: nowrap;
    text-align: center;
    text-decoration: none;
}  

.center{
    max-width: 1280px;
    width: 85%;
    margin: 0 auto;
}

/* animações */

@keyframes is-bouncing{
    to{
        transform: translateY(30px);
    }
}

/* reponsiva */

@media screen and (max-width: 1200px){
    .background{
        background-image: url("/portfolio/image/backgound-media.jpeg");
    }

    #serv .serv-single{
        flex-wrap: wrap;
        width: 49%;
    }

    #serv .serv-single .centro{
        margin: 0 auto;
    }

    header .desktop{
        flex-direction: row-reverse;
    }

    header .desktop .email{ 
        display:none !important;
    }
}

@media screen and (max-width: 900px){
    header .desktop{ 
        display:none !important;
    }

    header .mobile{
        display: block;
    }

    header .mobile i{
       font-size: 28px; 
       color: var(--cor3);
       cursor: pointer;
    }

    header .mobile nav{
        position: absolute;
        display: none;
        width: 100%; 
        top: 92px; 
        left: 0; 
    }

    header .mobile a{
        display: block;
        padding: 15px 0;
        background: white;
        text-align: center;
        border-top: 1px solid rgb(198, 198, 198);
    }

    header .mobile a:hover{
        color: var(--cor4); 
        text-decoration: underline;
    }

    .background{
        height: calc(100vh - 62px);
    }

    section.main #serv{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    section.main #serv .l{
        border: 0;
    }

    #serv .serv-single{
        width: 80%;
    }

    .projetos div.center a,
    .projetos .center .em-breve{
        width: 48.536%;
        margin: 3px;
    }

    .contato form{
        padding-bottom: 0;
    }
} 

@media screen and (max-width: 700px){
    .background{
        background-image: url("/portfolio/image/backgound-pequena.jpeg");
    }

    #serv .serv-single{
        width: 95%;
    }

    .habilidades ul li{
        width: 50%;
    }
}

@media screen and (max-width: 480px){
    .habilidades ul li i{
        padding: 40px 0 10px;
    }

    .projetos .center{
        flex-direction: column;
    }

    .projetos div.center a,
    .projetos .center .em-breve{
        width: 100%;
    }

    .contato{
        padding: 10px;
    }

    .contato form .cont{
        flex-direction: column;
    }
    
    .contato form .cont input{
        width: 100%;
    }

    footer .contato-info > p{
        font-size: 18px;
    }

    footer .copyright{
        padding: 10px;
    }

    footer .rede-socias i{
        padding: 12px;
        margin: 5px;
    }
}