@import url('style.css');

/* configurações padrões */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body{
    height: 100%;
}

/* variaveis */

:root{
    --cor1: #333333;
    --cor2: #1F203A;
    --cor3: #ffa64d;
    --cor4: #ff972e;
    --cor5: #E5E5E5;
    --cor6: #787878;
} 

ul{
    list-style-type: none;
}

h1{
    font-size: clamp(0.4em, 0.9em + 1vw, 1.7em);
}

h2{
    font-size: clamp(0.3em, 1.4em + 1.5vw, 2.8em);
    padding-bottom: 70px;
}

h3{
    font-size: clamp(0.4em, 1.5em + 1.5vw, 3em);
    padding-bottom: 20px;
}

h1, h2, h3{
    font-family: 'Gantari', sans-serif;
}

h1, h2, h3, a{
    white-space: nowrap;
    text-align: center;
    text-decoration: none;
}  

/* section.main h2{
    font-size: clamp(0.5em, 1.3em + 1.5vw, 3em);
    padding: 80px 0 40px 0;
    font-weight: bolder;
} */

.center{
    max-width: 1280px;
    width: 85%;
    margin: 0 auto;
}

/* reponsiva */

@media screen and (max-width: 1200px){
    #serv .serv-single{
        flex-wrap: wrap;
        width: 49%;
    }

    #serv .serv-single .centro{
        margin: 0 auto;
    }
}

@media screen and (max-width: 900px){
    header .desktop{
        display: none;
    }

    header .mobile{
        display: block;
    }

    header .mobile i{
       font-size: 28px; 
       color: var(--cor3);
       cursor: pointer;
    }

    header .mobile nav{
        position: absolute;
        display: none;
        width: 100%; 
        top: 62px; 
        left: 0; 
    }

    header .mobile a{
        text-align: center;
        background: var(--cor2);
        display: block;
        padding: 15px 0;
    }

    header .mobile a:hover{
        color: var(--cor4); 
        text-decoration: underline;
    }

    .background{
        height: calc(100vh - 62px);
    }

    section.main #serv{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    section.main #serv .l{
        border: 0;
    }

    #serv .serv-single{
        width: 80%;
    }

    .projetos div.center a{
        width: 49.4%;
        padding: 5px;
    }

    .contato form{
        padding-bottom: 0;
    }
} 

@media screen and (max-width: 700px){
    #serv .serv-single{
        width: 95%;
    }

    .habilidades ul li{
        width: 50%;
    }
}

@media screen and (max-width: 480px){
    .habilidades ul li i{
        padding: 40px 0 10px;
    }

    .projetos .center{
        flex-direction: column;
    }

    .projetos div.center a{
        width: 100%;
    }

    .contato{
        padding: 10px;
    }

    footer .contato-info > p{
        font-size: 18px;
    }

    footer .copyright{
        padding: 10px;
    }

    footer .rede-socias i{
        padding: 12px;
        margin: 5px;
    }
}