@import url('style.css');

/* configurações padrões */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body{
    height: 100%;
}

/* variaveis */

:root{
    --cor1: #008CCF;
    --cor2: #222222;
    --cor3: #1C4D8C;
    --cor4: #858585;
}

ul{
    list-style-type: none;
}

h1, h2, h3, a{
    white-space: nowrap;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}  

/* section.main h2{
    font-size: clamp(0.5em, 1.3em + 1.5vw, 3em);
    padding: 80px 0 40px 0;
    font-weight: bolder;
} */

.w50{
    width: 50%;
}

.center{
    max-width: 1360px;
    width: 85%;
    margin: 0 auto;
}

.align-right,
.align-right h3{
    text-align: right;
    margin-left: 15px;
}

/* reponsiva */

@media screen and (max-width: 1200px){
    #serv .serv-single{
        flex-wrap: wrap;
        width: 49%;
    }

    #serv .serv-single .centro{
        margin: 0 auto;
    }
}

@media screen and (max-width: 900px){
    header .desktop{
        display: none;
    }

    header .mobile{
        display: block;
    }

    header .mobile i{
       font-size: 28px; 
       color: var(--cor3);
       cursor: pointer;
    }

    header .mobile nav{
        position: absolute;
        display: none;
        width: 100%;  
        left: 0;
    }

    header .mobile a{
        text-align: center;
        color: black;
        display: block;
        padding: 12px 0;
        background: white;
        border-bottom: 1px solid black;
    }

    header .mobile a:hover{
        text-decoration: underline;
    }

    .background{
        height: calc(100vh - 62px);
    }

    section.main #serv{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    section.main #serv .l{
        border: 0;
    }

    #serv .serv-single{
        width: 80%;
    }

    .projetos div.center a{
        width: 49.4%;
        height: 24vw;
    }
} 

@media screen and (max-width: 700px){
    #serv .serv-single{
        width: 95%;
    }
}


@media screen and (max-width: 480px){
    .left{
        align-self: flex-start;
    }

    .right{
        align-self: flex-end;
    }
    
    .habilidades ul{
        flex-direction: column;
    }

    .habilidades li{
        margin: 0;
    }

    .habilidades ul li i{
        padding: 40px 0 10px;
    }
}