/* header */

section.banner-header{
    height: 90vh;
    background-image: url('../image/banner.jpg');
    background-size: cover;
}

.menuFixo{
    z-index: 9;
    width: 100%;
    position: fixed;
    background: var(--cor4);
}

header .mobile{
    z-index: 9;
    display: none;
}

header .center{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .center h1{
    font-size: 28px;
    margin: 15px 0;
}

header .center a{
    color: white;
}

header .center nav.desktop > a{
    margin-left: 20px;
    font-weight: 700;
}

header .center nav.desktop .cont-btn{
    padding: 13px 25px;
    border-radius: 50px;
    background: var(--cor5);
}

header .center nav.desktop .cont-btn:hover{
    border: 0;
}

header .center nav.desktop > a:hover{
    border-bottom: 2px solid #F2D857;
}

.banner-header .text{
    display: flex;
    height: 60%;
    justify-content: center;
    font-size: clamp(0.5em, 1em + 1vw, 2.5em);
    text-shadow: 0.1em 0.1em 0.2em black;
    flex-direction: column;
    font-weight: bolder;
    color: white;
}

.banner-header .text span{
    font-size: clamp(0.8em, 0.50em + 1vw, 1.7em);
}

/* serviços */

#serv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -270px;
}

#serv .serv-single{
    width: 32%;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
    border: 1px solid rgb(158, 158, 158);
    box-shadow: 6px 6px 13px -3px #000000;
    background: white;
    margin-bottom: 30px;
    padding: 18px 25px;
}

#serv .serv-single .serv-info{
    height: 200px;
}

#serv .serv-single .serv-info i{
    width: 100%;
    font-size: 60px;
    color: var(--cor2);
}

#serv h2{
    padding: 20px 0 15px 0;
    font-size: clamp(0.8em, 0.9em + 1vw, 1.7em);
}

#serv p{
    font-size: clamp(0.5em, 0.9em + 0.7vw, 1.1em);
    color: rgb(94, 94, 94);
}

#serv a i{
    top: 45px;
    position: relative;
    color: var(--cor4);
    border-radius: 50%;
    background: white;
    font-size: 50px;
}

/* sessão habilidades */

section.main .habilidades{
    text-align: center;
    padding-bottom: 100px;
}

section.main .habilidades h2{
    color: var(--cor2);
}

.habilidades ul{
    display: flex;
    flex-wrap: wrap;
}

.habilidades ul li{
    width: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.habilidades ul li i{
    padding: 100px 0 10px 0;
    color: var(--cor1);
    font-size: 50px;
}

.habilidades ul li h3{
    font-size: clamp(0.3em, 1em + 1vw, 1.5em);
    color: rgb(133, 133, 133);
}

/* projetos */

.projetos{
    width: 100%;
    color: var(--cor5);
    padding-bottom: 30px;
    background: var(--cor3);
}

.projetos div.center{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projetos div.center a{
    width: 32.8%;
    color: var(--cor5);
    margin-bottom: 10px;
    min-height: 140px;
    display: flex;
    height: 17vw;
}

.projetos div.center a h3{
    background: rgba(0, 0, 0, 0.486);
    align-self: flex-end;
    width: 100%;
}

.projetos div.center a .image{
    width: 100%;
    display: flex;
    background-size: 100% 100%;
    background-image: url("../image/loading.png");
}

/* github */

section.main .github{
    height: 400px;
    background-attachment: fixed;
    background-image: url('../image/github.JPEG');
    background-repeat: no-repeat;
    background-size: cover;
}

section.main .github .opac{
    background-color: rgba(45, 67, 107, 0.474);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

section.main .github .container{
    text-align: center;
    max-width: 600px;
    width: 92%;
}

section.main .github i{
    font-size: 60px;
}

section.main .github h3{
    font-size: 30px;
    padding: 15px 0;
    border-bottom: 2px solid white;
}

section.main .github span{
    font-size: 20px;
}

section.main .github a{
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    width: 100px;
    height: 40px;
    display: flex;
    margin: 30px auto;
    justify-content: center;
    align-items: center;

}

/* contato */

.contato form{
    width: 95%;
    margin: 0 auto;
    max-width: 600px;
    padding-bottom: 70px;
}

.contato form input,
.contato form textarea{
    display: block;
    margin: 7px 0;
    height: 40px;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid rgb(214, 213, 213);
    outline: 0;
    width: 100%;
}

.contato form textarea{
    height: 120px;
    resize: none;
}

.contato form input[type=submit]{
    background-color: var(--cor5);
    color: var(--cor3);
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}

/* footer */

footer{
    background-color: var(--cor4);
}

footer .container-sobre{
    padding: 30px 0;
    display: flex;
    color: white;
}

footer .contato-info{
    padding-left: 20px;
    border-left: 1px solid var(--cor3);
}

footer .container-sobre p,
footer h3{
    text-align: left;
}

footer h3{
    font-size: 25px;
    padding: 7px 0;
}

.sobre h3, .sobre p{
    width: 95%;
} 

footer .rede-socias a{
    color: white;
    font-size: 25px;
    font-weight: 100;
    padding-right: 5px;
}

footer .email div i{
    padding: 1.7px 3px 0 0; 
}

footer .copyright{
    display: flex;
    color: white;
    padding: 10px 10px;
    background-color: var(--cor3);
    justify-content: space-between;
    font-size: clamp(0.2em, 0.67em + 0.8vw, 0.9em);
}

footer .copyright p a{
    color: var(--cor5);
    font-weight: 600;
    margin-right: 10px;
    text-decoration: underline;
}