/* header */
header .mobile{
    z-index: 9;
    display: none;
}

header .center{
    display: flex;
    align-items: center;
    background: white;
    justify-content: space-between;
}

header .center h1{
    font-size: 28px;
    margin: 15px 0;
}

header .center a{
    color: var(--cor1);
}

header .center nav.desktop{
    padding: 30px 0;
}

header .center nav.desktop > a{
    margin-left: 20px;
    font-weight: 700;
    padding-bottom: 7px;
}

header .center nav.desktop .cont-btn{
    padding: 15px 30px;
    border-radius: 50px;
    background: var(--cor3);
    color: white;
}

header .center nav.desktop .cont-btn:hover{
    border: 0;
}

header .center nav.desktop > a:hover{
    border-bottom: 3px solid var(--cor3);
    color: var(--cor3);
}

.background{
    width: 100%;
    height: calc(100vh - 78px);
    padding-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:space-between;
}

.background .text{
    font-size: clamp(0.5em, 1em + 1vw, 2em);
    flex-direction: column;
    font-weight: bolder;
    text-align: center;
}

.background .avatar{
    width: 50%;
    max-width: 220px;
}

.background .img-bg{
    width: 100%;
    max-width: 620px;
}

section.main .sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 110px 10px;
    width: 100%;
    height: 500px;
    color: white;
    background: var(--cor1);
}

section.main .sobre h3{
    font-size: 30px;
    padding-bottom: 15px;
    font-size: clamp(1.2em, 1.2em + 1vw, 1.7em);
}

section.main .sobre p{
    width: 95%;
    font-size: 20px;
    max-width: 680px;
    text-align: center;
    font-size: clamp(0.7em, 0.7em + 0.9vw, 1.2em);
}

section.main #serv{
    background: white;
    border-radius: 15px;
    margin-top: -160px;
    padding: 50px 0;
    display: flex;
}

section.main .serv-single{
    width: 33.3%;
    padding: 20px;
    text-align: center;
}

section.main .serv-single p{
    padding: 15px 0;
}

section.main #serv .l{
    border-right: 1px solid #008dcf2a;
}

section.main .serv-single i{
    color: var(--cor1);
    font-size: 60px;
    padding-bottom: 25px;
}