/* header */

header{
    background: var(--cor2);
}

header .mobile{
    z-index: 9;
    display: none;
}

header .center{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .center .logo{
    font-size: 28px;
    margin: 15px 0;
}

header .center a{
    color: white;
}

header .center nav.desktop{
    padding: 30px 0;
}

header .center nav.desktop > a{
    margin-left: 20px;
    font-weight: 700;
    padding-bottom: 7px;
}

header .center nav.desktop .cont-btn{
    padding: 15px 30px;
    border-radius: 50px;
    background: var(--cor3);
    color: white;
}

header .center nav.desktop .cont-btn:hover{
    border: 0;
    color: white;
    background: var(--cor4);
}

header .center nav.desktop > a:hover{
    border-bottom: 3px solid var(--cor3);
    color: var(--cor3);
}

.background{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 78px);
    justify-content:space-between;
}

.background .text{
    font-size: clamp(0.5em, 1.5em + 2vw, 3em);
    flex-direction: column;
    text-align: center;
}

.background .text h1{
    font-weight: 200;
}

.background .avatar{
    width: 50%;
    border-radius: 50%;
    max-width: 220px;
}

.background .img-bg{
    width: 100%;
    max-width: 620px;
}

section.main .sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 110px 10px;
    width: 100%;
    height: 500px;
    background: var(--cor5);
}

section.main .sobre p{
    width: 95%;
    font-size: 20px;
    max-width: 680px;
    text-align: center;
    font-size: clamp(0.7em, 0.7em + 0.9vw, 1.2em);
}

section.main #serv{
    background: white;
    border-radius: 15px;
    margin-top: -160px;
    padding: 50px 0;
    display: flex;
}

section.main .serv-single{
    width: 33.3%;
    padding: 20px;
    text-align: center;
}

section.main .serv-single p{
    padding: 15px 0;
    color: var(--cor6);
    font-size: clamp(0.7em, 0.7em + 0.9vw, 1.1em);
}

section.main #serv .l{
    border-right: 1px solid #008dcf2a;
}

section.main #serv h3{
    font-size: clamp(0.4em, 0.9em + 1vw, 1.4em);
}

section.main .serv-single i{
    color: var(--cor3);
    font-size: 60px;
    padding-bottom: 25px;
}

/* sessão habilidades */

section.main .habilidades{
    text-align: center;
    padding-bottom: 160px;
}

.habilidades ul{
    display: flex;
    flex-wrap: wrap;
}

.habilidades ul li{
    width: 33.3%;
}

.habilidades ul li p{
    color: var(--cor6);
    font-size: clamp(0.3em, 0.8em + 1vw, 1.5em);
    font-weight: 600;
}

.habilidades ul li i{
    padding: 100px 0 20px 0;
    color: var(--cor3);
    font-size: 60px;
}

.habilidades li span{
    height: 10px;
    width: 30px;
    color: var(--cor3);
}

/* projetos */

.projetos{
    width: 100%;
    padding-bottom: 30px;
}

.projetos .center{
    display: flex;
    flex-wrap: wrap;
}

.projetos .center a{
    width: 33.3%;
    border: 1px solid white;
}

.projetos .center img{
    width: 100%;
}

/* github */

section.main .github{
    height: 400px;
    background-attachment: fixed;
    background-image: url('../image/github.JPEG');
    background-repeat: no-repeat;
    background-size: cover;
}

section.main .github .opac{
    background-color: rgba(45, 67, 107, 0.474);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

section.main .github .container{
    text-align: center;
    max-width: 600px;
    width: 92%;
}

section.main .github i{
    font-size: 60px;
}

section.main .github span{
    font-size: 20px;
    border-top: 2px solid white;
}

section.main .github a{
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    width: 100px;
    height: 40px;
    display: flex;
    margin: 30px auto;
    justify-content: center;
    align-items: center;
}

section.main .github a:hover{
    color: var(--cor4);
    border: 1px solid var(--cor4);;
}

/* contato */

.contato{
    top: 100px;
    padding: 60px 0;
    position: relative;
    border-radius: 15px;
    background-color: white;
    z-index: 9;
}

.contato form{
    width: 95%;
    margin: 0 auto;
    max-width: 800px;
    padding-bottom: 70px;
}

.contato form input,
.contato form textarea{
    display: block;
    margin: 7px 0;
    height: 50px;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid rgb(214, 213, 213);
    outline: 0;
    width: 100%;
}

.contato form textarea{
    height: 120px;
    resize: none;
}

.contato form input[type=submit]{
    border: 2px solid var(--cor3);
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    color: var(--cor3);
}

.contato form input[type=submit]:hover{
    background-color: var(--cor4);
    color: white;
}

footer{
    background: var(--cor2);
}

footer .contato-info > p{
    font-size: 20px;
    padding-bottom: 30px;
}

footer .container-sobre{
    color: white;
    padding: 170px 0 60px;
    display: flex;
    justify-content: center;
    text-align: center;
}

footer .container-sobre a{
    color: white;
}

footer .rede-socias{
    padding-bottom: 40px;
}

footer .rede-socias i{
    margin: 0 10px;
    padding: 15px;
    font-size: clamp(1em, 1.4em + 1.4vw, 2em);
    font-weight: 100;
    border-radius: 50%;
    border: 1px solid white;
}

footer .rede-socias i:hover{
    background: var(--cor4);
    border: 1px solid var(--cor4);
}

footer .email p{
    font-size: clamp(0.5em, 0.8em + 0.9vw, 1.1em);
}

footer .copyright{
    padding: 20px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    background: var(--cor1);
}

footer .copyright p{
    text-align: center;
    font-size: clamp(0.3em, 0.75em + 0.77vw, 1em);
    padding-right: 8px;
}

footer .copyright p a{
    color: var(--cor3);
}

footer .copyright a:hover,
footer .copyright a i:hover{
    color: var(--cor4); 
    text-decoration: underline;
}